@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: "#483D3F";
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

footer {
  margin-top: auto;
}
